<div class="col-md-6 offset-md-3">
    <h1>Xóa sách</h1>
    <dl class="row">
      <dt class="col-sm-3">Tên sách</dt>
      <dd class="col-sm-9">{{book.title}}</dd>
  
      <dt class="col-sm-3">Tác giả</dt>
      <dd class="col-sm-9">
        <p>{{book.author}}</p>
      </dd>
      <dt class="col-sm-3">Mô tả</dt>
      <dd class="col-sm-9">{{book.description}}</dd>
    </dl>
    <div class="row" align="center">
      <button  class="btn btn-success" routerLink='/listBook' style="margin-right: 10px">Thoát</button>
      <button (click)="deleteBook()" class="btn btn-danger">Xóa</button>
    </div>
  </div>